<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>User Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <div class="display-5 text-center" th:if="${not #lists.isEmpty(user_books)}">My books</div>
    <div class="display-5 text-center" th:unless="${not #lists.isEmpty(user_books)}">
        <p class="display-5">While your library is empty</p>
        <a th:href="@{/books}" class="btn btn-info btn-sm">Add some book</a>
    </div>
    <table th:if="${not #lists.isEmpty(user_books)}" class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${user_books}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td>
                <form th:action="@{/my-books/return-book/{id}(id = ${book.id})}" method="post">
                    <button class="btn btn-outline-danger btn-sm" type="submit">Return book</button>
                </form>
                <form th:action="@{/books/download/{id}(id = ${book.id})}">
                    <button class="btn btn-outline-success btn-sm" type="submit">Read book</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
</html>